.bg-primary {
  background-color: #54C0EB !important;
}

.text-danger {
  color: #FF7058 !important;
}

.bg-danger {
  background-color: #FF7058 !important;
}

.bg-classic {
  background-color: #FFD15C;
}

.bg-classic-dark {
  background-color: #F8B64C;
}

.text-classic-dark {
  color: #F8B64C;
}

.bg-dark-blue {
  background-color: #54C0EB;
}

.text-dark-blue {
  color: #54C0EB;
}

.text-navy-blue {
  color: #40596B;
}

.bg-navy-blue {
  background-color: #40596B;
}

body {
  background-color: #eee;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-toggler {
  background-color: #FF7058;
}

.sidebar {
  height: 100vh;
  background-color: #343a40;
  -webkit-box-shadow: 5px 7px 25px #999;
          box-shadow: 5px 7px 25px #999;
}

.bottom-border {
  border-bottom: 1px solid #eee;
}

.current {
  background-color: #FF7058;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.9);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.current:hover {
  background-color: #F8B64C;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 20px #111;
          box-shadow: 2px 5px 20px #111;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.sidebar-link {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.sidebar-link:hover {
  background-color: #F8B64C;
  border-radius: 5px;
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(209, 209, 209, 0.397);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #FF7058;
}

.search-button {
  border-radius: 50%;
  padding: 5px 10px;
  color: #FF7058;
  background-color: #eee;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.search-button:hover {
  color: #F8B64C;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.icon-parent {
  position: relative;
}

.icon-parent .icon-exponent::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 16px;
  width: 12px;
  height: 12px;
  background-color: #FF7058;
  border-radius: 50%;
}

.card-common {
  -webkit-box-shadow: 1px 2px 5px rgba(153, 153, 153, 0.301);
          box-shadow: 1px 2px 5px rgba(153, 153, 153, 0.301);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.card-common:hover {
  -webkit-box-shadow: 2px 3px 15px rgba(153, 153, 153, 0.301);
          box-shadow: 2px 3px 15px rgba(153, 153, 153, 0.301);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.task-border {
  border-left: 3px solid #FF7058;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .top-navbar {
    position: static;
  }
}
